body {
    background-color: #333540;
    margin: 0;

    font-family: 'Open Sans';

    color: #E8946F;
}

h1,
h2,
h3,
h4 {
    font-family: 'Ubuntu';
}

a {
    color: #fff;
}

main {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
code {
    color: darkgrey;
}

legend {
    font-family: 'Ubuntu';
}

fieldset {
    margin-top: 1rem;
}

strong {
    font-size: 800;
}

img {
    width: 100%;
}

.quote {
    font-family: 'Ubuntu';
    line-height: 1.5;
}

.separator {
    border-bottom: 3px solid gray;
}

.hidden{
    display: none;
}